
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card {
  margin: 15px;
  text-align: center;
  height: 100vh;
  &.todo{
    background-color: #007979	;
  }
  &.progress{
    background-color: #009393	;
  }
  &.done{
    background-color: #00AEAE;
  }

}
.card-title {
  color: black;
  font-weight:bold;
  font-size: 30px;
  color: #D0D0D0;
  line-height: 50px;
  padding: 10px; 
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}
.item {
  background-color: #D0D0D0;
  line-height: 50px;
  width: 90%;
  margin: 10px auto;
  border-radius: 10px;
  position: relative;
  
  
}
.del-button {
  float: right;
  border-radius: 7px;
  background-color: #AE0000	;
  color: white;
  position: absolute;
  right: 0px;
  padding: 0px 10px;
  cursor: pointer;

}
.add-item{
  bottom: 15px;
  position: fixed;
  right: 15px;
  width: 15%;
  cursor: pointer;
} 
.add-form {
  visibility: hidden;
}